<h1 style="color: #dc3545;">Your email address has been changed</h1>

<p>This is a confirmation that your email address has been changed to <strong><%= @resource.email %></strong>.</p>

<p>If you did not make this change, please contact our support immediately.</p>
