<h1 style="color: #dc3545;">Your password has been changed</h1>

<p>This is a confirmation that your password has been successfully updated.</p>

<p>If you did not perform this action, please reset your password immediately.</p>
